<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibec</key>
	<dict>
		<key>Digest</key>
		<data>
		m9I1Fdvdd6AfKvtAI/s57BW/ldtKZSY5aiw2MGdEV0RDoMtf0WfafRQsj9D7
		Rw1/
		</data>
	</dict>
</dict>
</plist>
