<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibss</key>
	<dict>
		<key>Digest</key>
		<data>
		XS3o0aP1O2E7m8xhTtJGm+5QX78LEzkQxaQgqQPC9zA3iV4B3CD6cmCD6wcb
		00P0
		</data>
	</dict>
</dict>
</plist>
